*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  background: #ecf2f8;
}

body {
  padding: 7.4rem 6.4vw 8.1rem;
  display: flex;
  justify-content: center;
}

.component {
  max-width: 32.7rem;
  min-height: 50.4rem;
  border-radius: 1rem;
  box-shadow: 0 4rem 4rem -1rem rgba(201, 213, 225, 0.5);
}
.component__image-container {
  max-width: 32.7rem;
  max-height: 20rem;
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
}
.component__img {
  width: 100%;
  height: 100%;
  transform: translateY(-1.5rem);
}

.text-container {
  background: #ffffff;
  padding: 3.6rem 9.8% 2rem;
  position: relative;
  border-radius: 0 0 1rem 1rem;
}
.text-container__header {
  color: #48556a;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  letter-spacing: 0.02rem;
  margin-bottom: 1.2rem;
}
.text-container__paragraph {
  color: #6e8098;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0122rem;
  max-width: 26.3rem;
  max-height: 10rem;
  margin-bottom: 3.2rem;
}

.author-container {
  display: flex;
  align-items: center;
}
.author-container__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 6.1%;
}
.author-container__name-date {
  display: flex;
  flex-direction: column;
  margin-right: 6.1%;
}
.author-container__name {
  color: #48556a;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.0122rem;
}
.author-container__date {
  color: #9daec2;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.0122rem;
}
.author-container__share-btn {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  background: #ecf2f8;
  margin-left: auto;
}
.author-container-desktop__share-btn {
  display: none;
}

.share-container {
  display: flex;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  background: #48556a;
  position: absolute;
  left: 0;
  width: 100%;
  height: 6.4rem;
  margin-top: -1.2rem;
  padding: 0 9.8%;
}
.share-container__text {
  color: #9daec2;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-right: 8%;
}
.share-container__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9.2rem;
  margin-right: 8%;
}
.share-container__hide-btn {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  background: #6e8098;
  margin-left: auto;
}
.share-container__hide-btn-img path {
  fill: #ffffff;
}
.share-container-desktop, .share-container-desktop__hide-btn {
  display: none;
}

@media (min-width: 23.5em) {
  body {
    height: 100vh;
    padding: 0;
    align-items: center;
  }
}
@media (min-width: 62em) {
  .author-container__share-btn:hover,
  .author-container-desktop__share-btn:hover,
  .share-container__hide-btn:hover,
  .share-container-desktop__hide-btn:hover {
    cursor: pointer;
  }
}
@media (min-width: 90em) {
  .component {
    max-width: initial;
    min-height: initial;
    width: 73rem;
    height: 28rem;
    display: flex;
  }
  .component__image-container {
    max-width: initial;
    max-height: initial;
    width: 28.5rem;
    height: 28rem;
    border-radius: 1rem 0 0 1rem;
  }
  .component__img {
    width: 123%;
    transform: initial;
  }
  .text-container {
    width: 44.5rem;
    padding: 3.2rem 4rem;
    border-radius: 0 1rem 1rem 0;
  }
  .text-container__header {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.025rem;
  }
  .text-container__paragraph {
    max-width: initial;
    max-height: initial;
    margin-bottom: 2rem;
  }
  .author-container__img {
    margin-right: 1.6rem;
  }
  .author-container__name-date {
    margin-right: initial;
  }
  .author-container-desktop__share-btn {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: none;
    background: #ecf2f8;
    z-index: 10;
    position: absolute;
    top: 21.2rem;
    left: 37.3rem;
  }
  .share-container {
    display: none;
  }
  .share-container-desktop {
    display: block;
    width: 26.8rem;
    height: 5.5rem;
    position: absolute;
    top: 12.9rem;
    left: 25.51rem;
  }
  .share-container-desktop__text-socials {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .share-container-desktop__text {
    color: #9daec2;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-right: 2.1rem;
  }
  .share-container-desktop__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9.2rem;
  }
  .share-container-desktop__hide-btn {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: none;
    background: #6e8098;
    position: absolute;
    top: 21.2rem;
    left: 37.3rem;
  }
  .share-container-desktop__hide-btn-img path {
    fill: #ffffff;
  }
  .reveal {
    display: flex !important;
  }
}
.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */