// ********** STYLE GUIDE **********

// ************* COLORS ************
$color-body-bg: #ecf2f8;
$color-text-container-bg: #ffffff;
$color-header-text: #48556a;
$color-paragraph-text: #6e8098;
$color-author-name: #48556a;
$color-author-date: #9daec2;
$color-share-btn-bg: #ecf2f8;
$color-share-container-bg: #48556a;
$color-share-text: #9daec2;
$color-hide-btn: #ffffff;
$color-hide-btn-bg: #6e8098;

// ********** FONT FAMILY **********
$font-primary: "Manrope", sans-serif;

// ********* FONT WEIGHTS *********
$font-weight-medium: 500;
$font-weight-bold: 700;
