// ********** STYLE GUIDE **********

// ************* COLORS ************
$color-body-bg: #ecf2f8;
$color-text-container-bg: #ffffff;
$color-header-text: #48556a;
$color-paragraph-text: #6e8098;
$color-author-name: #48556a;
$color-author-date: #9daec2;
$color-share-btn-bg: #ecf2f8;
$color-share-container-bg: #48556a;
$color-share-text: #9daec2;
$color-hide-btn: #ffffff;
$color-hide-btn-bg: #6e8098;

// ********** FONT FAMILY **********
$font-primary: "Manrope", sans-serif;

// ********* FONT WEIGHTS *********
$font-weight-medium: 500;
$font-weight-bold: 700;

// ************** BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  background: $color-body-bg;
}

// ********* MOBILE LAYOUT *********
body {
  padding: 7.4rem 6.4vw 8.1rem;
  display: flex;
  justify-content: center;
}

// *********** COMPONENT ***********
.component {
  max-width: 32.7rem;
  min-height: 50.4rem;
  border-radius: 1rem;
  box-shadow: 0 4rem 4rem -1rem rgba(201, 213, 225, 0.5);

  &__image-container {
    max-width: 32.7rem;
    max-height: 20rem;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    transform: translateY(-1.5rem);
  }
}

// ******** TEXT CONTAINER *********

.text-container {
  background: $color-text-container-bg;
  padding: 3.6rem 9.8% 2rem;
  position: relative;
  border-radius: 0 0 1rem 1rem;

  &__header {
    color: $color-header-text;
    font-size: 1.6rem;
    font-weight: $font-weight-bold;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
    margin-bottom: 1.2rem;
  }

  &__paragraph {
    color: $color-paragraph-text;
    font-size: 1.3rem;
    font-weight: $font-weight-medium;
    line-height: 2rem;
    letter-spacing: 0.0122rem;
    max-width: 26.3rem;
    max-height: 10rem;
    margin-bottom: 3.2rem;
  }
}

// ******* AUTHOR CONTAINER ********
.author-container {
  display: flex;

  &__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 6.1%;
  }

  &__name-date {
    display: flex;
    flex-direction: column;
    margin-right: 6.1%;
  }

  &__name {
    color: $color-author-name;
    font-size: 1.3rem;
    font-weight: $font-weight-bold;
    line-height: 2rem;
    letter-spacing: 0.0122rem;
  }

  &__date {
    color: $color-author-date;
    font-size: 1.3rem;
    font-weight: $font-weight-medium;
    line-height: 2rem;
    letter-spacing: 0.0122rem;
  }

  &__share-btn {
    margin-left: auto;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: none;
    background: $color-share-btn-bg;
  }
}

// ******** SHARE CONTAINER ********
.share-container {
  display: flex;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  background: $color-share-container-bg;
  position: absolute;
  left: 0;
  width: 100%;
  height: 6.4rem;
  margin-top: -1.2rem;
  padding: 0 9.8%;

  &__text {
    color: $color-share-text;
    font-size: 1.3rem;
    font-weight: $font-weight-medium;
    line-height: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-right: 8%;
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9.2rem;
    margin-right: 8%;
  }

  &__hide-btn {
    margin-left: auto;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    border: none;
    background: $color-hide-btn-bg;
  }

  &__hide-img path {
    fill: $color-hide-btn;
  }
}

// ******* 376px MEDIA QUERY *******
@media (min-width: 23.5em) {
  body {
    padding: 7.4rem 0 8.1rem;
  }
}

// CLASSES USED WITH JAVASCRIPT
.hidden {
  display: none;
}
