// ********** STYLE GUIDE **********

// ************* COLORS ************
$color-body-bg: #ecf2f8;
$color-text-container-bg: #ffffff;
$color-header-text: #48556a;
$color-paragraph-text: #6e8098;
$color-author-name: #48556a;
$color-author-date: #9daec2;
$color-share-btn-bg: #ecf2f8;
$color-share-container-bg: #48556a;
$color-share-text: #9daec2;
$color-hide-btn: #ffffff;
$color-hide-btn-bg: #6e8098;

// ********** FONT FAMILY **********
$font-primary: "Manrope", sans-serif;

// ********* FONT WEIGHTS *********
$font-weight-medium: 500;
$font-weight-bold: 700;

// ************** BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: $font-primary;
  background: $color-body-bg;
}

// ************* MIXINS ************
@mixin btn-styles($background-color) {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  background: $background-color;
}

@mixin share-text-styles($margin-right) {
  color: $color-share-text;
  font-size: 1.3rem;
  font-weight: $font-weight-medium;
  line-height: 2rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-right: $margin-right;
}

@mixin socials-styles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 9.2rem;
}

// ********* MOBILE LAYOUT *********
body {
  padding: 7.4rem 6.4vw 8.1rem;
  display: flex;
  justify-content: center;
}

// *********** COMPONENT ***********
.component {
  max-width: 32.7rem;
  min-height: 50.4rem;
  border-radius: 1rem;
  box-shadow: 0 4rem 4rem -1rem rgba(201, 213, 225, 0.5);

  &__image-container {
    max-width: 32.7rem;
    max-height: 20rem;
    overflow: hidden;
    border-radius: 1rem 1rem 0 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    transform: translateY(-1.5rem);
  }
}

// ******** TEXT CONTAINER *********
.text-container {
  background: $color-text-container-bg;
  padding: 3.6rem 9.8% 2rem;
  position: relative;
  border-radius: 0 0 1rem 1rem;

  &__header {
    color: $color-header-text;
    font-size: 1.6rem;
    font-weight: $font-weight-bold;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
    margin-bottom: 1.2rem;
  }

  &__paragraph {
    color: $color-paragraph-text;
    font-size: 1.3rem;
    font-weight: $font-weight-medium;
    line-height: 2rem;
    letter-spacing: 0.0122rem;
    max-width: 26.3rem;
    max-height: 10rem;
    margin-bottom: 3.2rem;
  }
}

// ******* AUTHOR CONTAINER ********
.author-container {
  display: flex;
  align-items: center;

  &__img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 6.1%;
  }

  &__name-date {
    display: flex;
    flex-direction: column;
    margin-right: 6.1%;
  }

  &__name {
    color: $color-author-name;
    font-size: 1.3rem;
    font-weight: $font-weight-bold;
    line-height: 2rem;
    letter-spacing: 0.0122rem;
  }

  &__date {
    color: $color-author-date;
    font-size: 1.3rem;
    font-weight: $font-weight-medium;
    line-height: 2rem;
    letter-spacing: 0.0122rem;
  }

  &__share-btn {
    @include btn-styles($color-share-btn-bg);
    margin-left: auto;
  }
}

.author-container-desktop__share-btn {
  display: none;
}

// ******** SHARE CONTAINER ********
.share-container {
  display: flex;
  align-items: center;
  border-radius: 0 0 1rem 1rem;
  background: $color-share-container-bg;
  position: absolute;
  left: 0;
  width: 100%;
  height: 6.4rem;
  margin-top: -1.2rem;
  padding: 0 9.8%;

  &__text {
    @include share-text-styles(8%);
  }

  &__socials {
    @include socials-styles();
    margin-right: 8%;
  }

  &__hide-btn {
    @include btn-styles($color-hide-btn-bg);
    margin-left: auto;
  }

  &__hide-img path {
    fill: $color-hide-btn;
  }
}

.share-container-desktop,
.share-container-desktop__hide-btn {
  display: none;
}

// ******* 376px MEDIA QUERY *******
@media (min-width: 23.5em) {
  body {
    height: 100vh;
    padding: 0;
    align-items: center;
  }
}

// ******** DESKTOP LAYOUT ********

// ***** DESKTOP HOVER STATES *****
@media (min-width: 62em) {
  .author-container__share-btn:hover,
  .author-container-desktop__share-btn:hover,
  .share-container__hide-btn:hover,
  .share-container-desktop__hide-btn:hover {
    cursor: pointer;
  }
}

// ****** 1440px MEDIA QUERY ******
@media (min-width: 90em) {
  // ********** COMPONENT **********
  .component {
    max-width: initial;
    min-height: initial;
    width: 73rem;
    height: 28rem;
    display: flex;

    &__image-container {
      max-width: initial;
      max-height: initial;
      width: 28.5rem;
      height: 28rem;
      border-radius: 1rem 0 0 1rem;
    }

    &__img {
      width: 123%;
      transform: initial;
    }
  }

  // ******* TEXT CONTAINER ********
  .text-container {
    width: 44.5rem;
    padding: 3.2rem 4rem;
    border-radius: 0 1rem 1rem 0;

    &__header {
      font-size: 2rem;
      line-height: 2.8rem;
      letter-spacing: 0.025rem;
    }

    &__paragraph {
      max-width: initial;
      max-height: initial;
      margin-bottom: 2rem;
    }
  }

  // ****** AUTHOR CONTAINER ******
  .author-container {
    &__img {
      margin-right: 1.6rem;
    }

    &__name-date {
      margin-right: 1.6rem;
    }
  }

  .author-container-desktop__share-btn {
    display: inline-block;
    @include btn-styles($color-share-btn-bg);
    z-index: 10;
    position: absolute;
    top: 21.2rem;
    left: 37.3rem;
  }

  // ******* SHARE CONTAINER *******
  .share-container {
    display: none;
  }

  .share-container-desktop {
    display: block;
    width: 26.8rem;
    height: 5.5rem;
    position: absolute;
    top: 12.9rem;
    left: 25.51rem;

    &__text-socials {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__text {
      @include share-text-styles(2.1rem);
    }

    &__socials {
      @include socials-styles();
    }

    &__hide-btn {
      display: inline-block;
      @include btn-styles($color-hide-btn-bg);
      position: absolute;
      top: 21.2rem;
      left: 37.3rem;
    }

    &__hide-img path {
      fill: $color-hide-btn;
    }
  }

  // CLASS USED WITH JAVASCRIPT
  .reveal {
    display: flex !important;
  }
}

// CLASS USED WITH JAVASCRIPT
.hidden {
  display: none;
}
